@import "tailwindcss";
@theme {
  --font-title: "--font-title";
}
:root {
  --bg: #fafafa;
  --text: #111111;
  --muted: #6b6b6b;
  --accent: #ef4444;
  --border: #e5e5e5;
  --card: #ffffff;
}

.dark {
  --bg: #1a1a1a;
  --text: #f9f9f9;
  --muted: #aaaaaa;
  --accent: #ef4444;
  --border: #333333;
  --card: #222222;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Inter", sans-serif;
}

.bg-var-bg {
  background-color: var(--bg);
}
.text-var-text {
  color: var(--text);
}
.text-var-muted {
  color: var(--muted);
}
.bg-var-card {
  background-color: var(--card);
}
.border-var-border {
  border-color: var(--border);
}
.text-var-accent {
  color: var(--accent);
}
.bg-var-accent {
  background-color: var(--accent);
}
